*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	background-color: #4a5c66;
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.header_topline {
	background-color: #333231;
	padding-top: 15px;
	padding-bottom: 0px;
}
.top_menu{
	background-color: #3797bf;
	color: #fff;
	margin-bottom: 20px;
}
.top_menu a {
	color: #fff;
	padding: 15px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.top_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	float: left;
	text-transform: uppercase;
}
.top_menu ul li {
	display: inline-block;
}
.top_menu a:hover {
	background-color: #2787af;
}
.right-log {
	float: right;
	font-size: 20px;
	padding: 0 15px;
}
.button-log{

}
.twit-content {

}
.twit-block-left {
	border-radius: 5px;
	background-color: #EEEEEE;
	margin-top: 20px;
	padding: 5px;
	float: left;
}
.twit-block-right{
	border-radius: 5px;
	background-color: #EEEEEE;
	margin-top: 20px;
	padding: 5px;
    float:right;
}
.twit-data{
	float: right;
	padding-top: 7px;
	padding-right: 5px;
}
.repost-like{
	float: right;
	padding: 5px;
}
.twit-photo {
	max-width: 500px;
	max-hight: 500px;
	overflow:hidden;
}
.twit-nickname{
	float: left;
	color: #2787af;
	text-transform: capitalize;
}
.twit-head-text {
	padding-left: 20px;
}

.pagination {
	background: #f2f2f2;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	margin-top: 20px;
}

.page {
	display: inline-block;
	padding: 0px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
	background: #fefefe;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
}

.page.active {
	border: none;
	background: #616161;
	box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
	color: #f0f0f0;
	text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}


a.button-log {
	font-weight: 700;
	color: white;
	text-decoration: none;
padding-left: 10px; padding-right: 12px; padding-bottom: 5px; padding-top: 7px; margin-top: 6px;
	border-radius: 4px;
	background: rgb(64,199,129);
	transition: 0.2s;
}
a.button-log:hover { background: rgb(53, 167, 110); }
a.button-log:active {
	background: rgb(33,147,90);
	box-shadow: 0 3px rgb(33,147,90) inset;
}

